<!doctype html>
<html lang="en">
<head>
    <title>提币</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="../common/css/common2.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/drawcoin.css">
</head>
<body>
<header>
    
</header>
<div class="main">
    <h1>短信验证</h1>
    <div class="item">
        <span>
            <input type="text" name="epid" placeholder="请输入验证码">
            <i style="display: inline-block; width: 1px; height: .16rem; margin-top: .14rem; background: #D1D1D6;"></i>
        </span>
        <span>60&nbsp;秒后重新获取</span>
    </div>
    <div class="item">
        <div class="btn">提到 imToken 钱包</div>
    </div>
    <p>您当前的CAN未达到188枚，不可提币</p>
</div>
<script type="text/javascript" src="../common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    // 低版本浏览器不支持css时
    // document.documentElement.style.fontSize = window.innerWidth/7.5 + 'px'
</script>
</body>
</html>